/* body {
  background: rgba(47,201,226,0.1) ;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
body{
  font-size: 14px;
  font-family: 'Libre Baskerville', serif!important;
  line-height: 1.5;
  color: #333;
  font-weight: 500;
  transition: ease-in-out .5s all;
  /* background: url('./assets/br6.jpg')!important;
  background-size: cover!important; */
  background-repeat: no-repeat!important;
  background-position: center center!important;
}

.modal-content{
  width: 50% !important;
  background: transparent !important;
}

iframe {
  border: transparent !important;
}

body.dark-mode{
  /* background: #191326!important; */
  background: radial-gradient(circle, rgba(17,17,71,1) 0%, rgba(11,12,69,1) 22%, rgba(11,36,55,1) 100%)!important;
}
body.dark-mode .link-mode.active{
    color: #fff;
}
body.dark-mode .sub-trade .lhSWqe.active{
  color: rgb(0, 0, 0);
}

/* body.dark-mode .name, body.dark-mode .name svg{
  color: #99378E;
  fill:#99378E;
} */
body.dark-mode .bt-menu svg{
  fill:#fff;
}
body.dark-mode .drep-mode{
  color: #fff;
}
/* body.dark-mode .moon-dark{
  color: #99378E;
} */
/* body.dark-mode .unit-pega {
 
  font-weight: 500;
} */
body.fix .menu-fixed{
  background: #fff;
  box-shadow: 1px 2px 6px 1px #bbaeae;
}
body.dark-mode.fix .menu-fixed{
  box-shadow: 1px 2px 6px 1px #292828;
  background: radial-gradient(circle, rgba(17,17,71,1) 0%, rgba(11,12,69,1) 22%, rgba(11,36,55,1) 100%);
}
body img {
  height: auto;
  max-width: 100%;
}
.main{
  margin-top: 72px;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
